body {
    background: linear-gradient(135deg, #1e1e2f 0%, #25293e 100%);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
}

.lang-sticky-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.lang-sticky-btn button {
    background-color: white !important;
    color: #3f51b5 !important;
}

.central-card {
    width: 95%;
    max-width: 480px;
    background: white;
    border-radius: 20px;
    height: auto;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4); 
}

.tab-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 32px !important;
    position: relative;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.option-item {
    margin: 20px 0;
}

.option-item label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    margin-bottom: 6px;
}

.hidden {
    display: none !important;
}

.tab-content::-webkit-scrollbar {
    width: 4px;
}

.tab-content::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 10px;
}

.mdui-tab {
    width: 100% !important;
    flex-shrink: 0; /* 防止被壓縮 */
    border-radius: 0; /* 移除內部圓角干擾 */
}